<div class="characters-container">
  <!-- Input de búsqueda centrado -->
  <div class="d-flex justify-content-center align-items-center mb-3">
    <div class="d-flex align-items-center">
      <input
        type="text"
        class="form-control w-75"
        placeholder="Buscar personajes..."
        [(ngModel)]="searchTerm"
        (input)="searchCharacters()"
      />
      <span class="ms-3">{{ points }}/{{ totalCharacters }}</span>
    </div>
  </div>

  <!-- Filas con las tablas -->
  <div class="row">
    <!-- Fila 1: 4 tablas -->
    <div class="col-3">
      <table class="table" [ngClass]="{ 'table-success': isFilled1A }">
        <thead>
          <tr>
            <th>1A</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let character of characters1A">
            <td
              *ngIf="character.showCharacter"
              [ngClass]="{ highlight: character.showCharacter }"
            >
              <span class="full-name">{{ character.fullName }}</span>
              <span *ngIf="character.explanation" class="ms-2"
                >({{ character.explanation }})</span
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-3">
      <table class="table" [ngClass]="{ 'table-success': isFilled1B }">
        <thead>
          <tr>
            <th>1B</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let character of characters1B">
            <td
              *ngIf="character.showCharacter"
              [ngClass]="{ highlight: character.showCharacter }"
            >
              <span class="full-name">{{ character.fullName }}</span>
              <span *ngIf="character.explanation" class="ms-2"
                >({{ character.explanation }})</span
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-3">
      <table class="table" [ngClass]="{ 'table-success': isFilled2A }">
        <thead>
          <tr>
            <th>2A</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let character of characters2A">
            <td
              *ngIf="character.showCharacter"
              [ngClass]="{ highlight: character.showCharacter }"
            >
              <span class="full-name">{{ character.fullName }}</span>
              <span *ngIf="character.explanation" class="ms-2"
                >({{ character.explanation }})</span
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-3">
      <table class="table" [ngClass]="{ 'table-success': isFilled2B }">
        <thead>
          <tr>
            <th>2B</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let character of characters2B">
            <td
              *ngIf="character.showCharacter"
              [ngClass]="{ highlight: character.showCharacter }"
            >
              <span class="full-name">{{ character.fullName }}</span>
              <span *ngIf="character.explanation" class="ms-2"
                >({{ character.explanation }})</span
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <!-- Fila 2: 4 tablas -->
    <div class="col-3">
      <table class="table" [ngClass]="{ 'table-success': isFilled3A }">
        <thead>
          <tr>
            <th>3A</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let character of characters3A">
            <td
              *ngIf="character.showCharacter"
              [ngClass]="{ highlight: character.showCharacter }"
            >
              <span class="full-name">{{ character.fullName }}</span>
              <span *ngIf="character.explanation" class="ms-2"
                >({{ character.explanation }})</span
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-3">
      <table class="table" [ngClass]="{ 'table-success': isFilled3B }">
        <thead>
          <tr>
            <th>3B</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let character of characters3B">
            <td
              *ngIf="character.showCharacter"
              [ngClass]="{ highlight: character.showCharacter }"
            >
              <span class="full-name">{{ character.fullName }}</span>
              <span *ngIf="character.explanation" class="ms-2"
                >({{ character.explanation }})</span
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-3">
      <table class="table" [ngClass]="{ 'table-success': isFilledAtico }">
        <thead>
          <tr>
            <th>Atico</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let character of charactersAtico">
            <td
              *ngIf="character.showCharacter"
              [ngClass]="{ highlight: character.showCharacter }"
            >
              <span class="full-name">{{ character.fullName }}</span>
              <span *ngIf="character.explanation" class="ms-2"
                >({{ character.explanation }})</span
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-3">
      <table class="table" [ngClass]="{ 'table-success': isFilledVideoclub }">
        <thead>
          <tr>
            <th>Videoclub</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let character of charactersVideoclub">
            <td
              *ngIf="character.showCharacter"
              [ngClass]="{ highlight: character.showCharacter }"
            >
              <span class="full-name">{{ character.fullName }}</span>
              <span *ngIf="character.explanation" class="ms-2"
                >({{ character.explanation }})</span
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <!-- Fila 3: 2 tablas -->
    <div class="col-3">
      <table class="table" [ngClass]="{ 'table-success': isFilledPorteria }">
        <thead>
          <tr>
            <th>Porteria</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let character of charactersPorteria">
            <td
              *ngIf="character.showCharacter"
              [ngClass]="{ highlight: character.showCharacter }"
            >
              <span class="full-name">{{ character.fullName }}</span>
              <span *ngIf="character.explanation" class="ms-2"
                >({{ character.explanation }})</span
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-6">
      <table class="table" [ngClass]="{ 'table-success': isFilledOtros }">
        <thead>
          <tr>
            <th>Otros</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let character of characterOtros">
            <td
              *ngIf="character.showCharacter"
              [ngClass]="{ highlight: character.showCharacter }"
            >
              <span class="full-name">{{ character.fullName }}</span>
              <span *ngIf="character.explanation" class="ms-2"
                >({{ character.explanation }})</span
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
