.characters-container {
  margin: 20px;
}

.table {
  width: 100%;
  margin-bottom: 15px;
}

th {
  background-color: #f8f9fa;
  text-align: center;
}

.highlight {
  animation: highlightEffect 1s ease-in-out; /* Animación de cambio de color */
}

/* Cambio de color para tablas llenas */
.table-success {
  background-color: #d4edda !important; /* Verde claro */
  transition: background-color 0.5s ease-in-out;
}

@keyframes highlightEffect {
  0% {
    background-color: #d4edda;
  }
  100% {
    background-color: transparent;
  }
}
